@font-face {
  font-family: 'Fistalle';
  src: url(/assets/fonts/fistalle/Fistalle.ttf);
  font-family: 'Productive';
  src: url(/assets/fonts/productive_day/Productive\ Day.otf);
  font-family: 'Motor-Oil';
  src: url(/assets/fonts/motor_oil_1937_m54/Motor\ Oil\ 1937\ M54.ttf);
}

:root {
  --main-blue10: slateblue;
  --main-blue20: rgb(65, 57, 119);
  --main-blue30: rgb(42, 38, 71);
  --main-blue40: rgb(33, 31, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Motor-Oil', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: var(--main-blue40);
  position: relative;
  min-height: 100%;
  margin: 0;
}

/* Nav CSS */


nav {
  background: linear-gradient(var(--main-blue10), var(--main-blue20));
  /* border-bottom: 1.2rem inset rgba(46, 19, 224, 0.295); */
  box-shadow: 0 2px 10px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3.5rem;
  align-items: center;
  flex-wrap: wrap;
  height: 10rem;
}

@media only screen and (max-width: 912px) {
  nav {
    height: auto;
  }
}

nav {
  /* position: fixed; */
  width: 100%;
}

nav ul {
  background-color: rgba(65, 57, 119, 0.226);
  border-radius: 10px;
  padding: .6rem 1rem;
  border-right: 3px inset var(--main-blue20);
  transition: all .1s ease;
}

nav ul:hover {
  background-color: var(--main-blue20);
  box-shadow: 2px 6px 12px hsl(0, 0%, 8%);
  border-radius: 10px;
  padding: .7rem 1.5rem;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__logo h4 {
  border-left: 2px inset var(--main-blue20);
  padding-left: 2rem;
  background-color: rgba(65, 57, 119, 0.226);
  border-radius: 10px;
  padding: .6rem 1rem;
  transition: all .1s ease;
}

.nav__logo h4:hover {
  background-color: var(--main-blue20);
  box-shadow: 2px 6px 12px hsl(0, 0%, 8%);
  border-radius: 10px;
  padding: .7rem 1.5rem;
  color: whitesmoke;
  opacity: .8;
}

.nav__logo h4 {
  color: var(--main-blue40);
  font-size: 1.5rem;
}

.nav__pages a {
  color: var(--main-blue40);
  font-size: 1.5rem;
  font-weight: bold;
  transition: color .1s, text-decoration .1s;
}

.nav__pages a:hover {
  color: whitesmoke;
  opacity: .8;
}

.nav__pages a:active {
  opacity: .4;
}

.nav__pages {
  display: flex;
  gap: 3rem;
}

@media only screen and (max-width: 492px) {
  .nav__pages a {
    font-size: .5rem;
  }
  .nav__pages {
    display: flex;
    gap: 1rem;
  }
}

.nav__right {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav__smedia i {
  font-size: 1.5rem;
  color: var(--main-blue40);
  background-image: linear-gradient(rgb(255, 37, 37), rgb(255, 112, 60), rgb(151, 0, 151));
  padding: 1rem;
  border-radius: 50%;
  border: .3rem inset var(--main-blue10);
  cursor: pointer;
  transition: opacity .1s, scale .1s, color .1s;
}

.nav__smedia i:hover {
  color: whitesmoke;
  text-shadow: 0 0 20px;
  scale: 1.1;
  opacity: .8;
}
.nav__smedia i:active {
  opacity: .4;
}

@media only screen and (max-width: 640px) {
  .nav__logo {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .nav__logo h4 {
    display: none;
  }
  .nav__right {
    display: flex;
    flex-direction: column;
  }
  .nav__pages a {
    font-size: 1.3rem;
  }
}

/* Main CSS */

main {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10rem;
}

.main__title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 4px 6px hsl(0, 0%, 20%);
}
.main__title p {
  font-size: 1.5rem;
  text-shadow: 0 2px 8px hsl(0, 0%, 20%);
}

.main__title div {
  background-color: rgba(33, 31, 46, 0.301);
  border-radius: 10px;
  padding: 1rem;
  min-width: 42%;
  margin: 0 auto;
}

.main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('/assets/images/ul1vu36g.bmp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
  overflow: hidden;
  border-top: 1.5rem inset var(--main-blue20);
  border-bottom: 1.5rem inset var(--main-blue20);
  margin: 0 auto;
  height: 30rem;
  padding: 3rem;
  width: 100%;
}

.projects-container {
  background-color: var(--main-blue20);
  padding-top: .5rem;
  width: 90%;
  margin: 3.5rem auto;
  border-radius: 6px;
}

.title {
  display: flex;
  gap: 1rem;
  color: whitesmoke;
  background: var(--main-blue30);
  width: 90%;
  box-shadow: 0 10px 18px hsl(0, 0%, 8%);
  padding: 2rem;
  border-radius: 8px;
  font-size: 2rem;
  margin: 3.5rem auto;
  margin-bottom: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title p {
  width: 100%;
  text-align: center;
}

.main__cars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 6rem;
  padding: 0 6rem 8rem;
}

.main__cars div img {
  width: 50%;
  width: 400px;
  overflow: hidden;
  height: 300px;
  object-fit: cover;
  border: 4px inset var(--main-blue10);
}

.main__cars div {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4rem 1rem;
  border-radius: 8px;
  background-color: rgb(50, 43, 99);
  opacity: .4;
  transition: all .1s ease;
}

.main__cars div:hover {
  background-color: var(--main-blue30);
  box-shadow: 0 10px 18px hsl(0, 0%, 8%);
  opacity: 1;
}

.main__cars div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  font-size: large;
  color: whitesmoke;
}

.team-container {
  background-color: var(--main-blue20);
  padding-top: .5rem;
  height: 30rem;
  width: 90%;
  margin: 3.5rem auto;
  margin-bottom: 10.5rem;
  border-radius: 6px;
}

@media only screen and (max-width: 1170px) {
  .title {
    font-size: 1.2rem;
  }
  .main__cars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__cars div img {
    width: 300px;
    height: 200px;
  }
  .main__cars div {
    padding: 2rem 10rem;
  }
}

/* Footer CSS */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(var(--main-blue20), var(--main-blue30));
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
  letter-spacing: 1.2px;
  transition: font-size .2s;
}

footer a:hover {
  font-size: 1.4rem;
}

footer h2 {
  font-size: 1.4rem;
  margin-bottom: .75rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

#pages {
  border-bottom: 4px solid black;
  border-radius: 12%;
  width: 34%;
}

#projects {
  border-bottom: 4px solid black;
  border-radius: 12%;
  width: 47%;
}

#subscribe {
  border-bottom: 4px solid black;
  border-radius: 12%;
  width: 58%;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  background-color: var(--main-blue30);
  border-radius: 0 0 50% 50%;
  opacity: .2;
  transition: scale .15s, opacity .15s;
  cursor: pointer;
}
.footer__logo:hover {
  opacity: 1;
  scale: 1.1;
}

.footer__logo h4 {
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.2rem;
  border-radius: 15%;
  opacity: .2;
}

.rights {
  background: var(--main-blue10);
  text-align: center;
  padding: .5rem;
}

#footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  padding: 3rem 6rem;
  height: 15rem;
  vertical-align: top;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  #footer-grid {
    height: auto;
  }
}

.footer__subscribe h2{
  margin-bottom: 1.5rem;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  /* gap: .2rem; */
}

.input__group {
  display: flex;
  align-items: center;
  background-color: var(--main-blue30);
  border-radius: 6px;
}

.footer__subscribe input {
  all: unset;
  color: whitesmoke;
  padding: .75rem;
  width: 100%;
}

.footer__subscribe input:focus {
  color: var(--main-blue10);
}

.footer__subscribe button {
  border: none;
  /* position: relative; */
  /* right: 40px; */
  background-color: var(--main-blue10);
  height: 100%;
  padding: .75rem;
  border-radius: 0 8% 8% 0;
  cursor: pointer;
}

.footer__subscribe button:hover {
  opacity: .8;
}
.footer__subscribe button:active {
  opacity: .4;
}

.footer__subscribe i {
  font-size: 1.2rem;
  color: whitesmoke;
  -webkit-text-stroke: .2px black;
}


@media only screen and (max-width: 592px) {
  #footer-grid {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }
  .footer__logo img {
    display: none;
  }
  footer h2, a {
    font-size: 1.2rem;
  }
  .footer__subscribe {
    justify-content: center;
    align-items: center;
  }
}