:root {
  --main-blue: rgb(76, 37, 185);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Major Changes */
body {
  background-color: #F3F1FF;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 60%;
  margin: 0 auto;
}

/* Navigation Bar */
header {
  background-color: var(--main-blue);
}

#nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;
}

.nav__logo {
  display: flex;
  cursor: pointer;
}
.nav__logo:hover {
  scale: 1.1;
}

.nav__logo img {
  height: 50px;
}

.nav__logo p {
  display: flex;
  align-items: center;
  color: black;
  line-height: 3;
  font-size: 18px;
  margin-left: 4px;
}

.nav__pages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav__pages li a {
  text-decoration: none;
  color: #fff;
  padding: 4px;
}

.nav__pages ul {
  display: flex;
  list-style: none;
}

input[type="search"] {
  border: none;
  border-radius: 2px;
  padding: 0 1rem;
}

input[type="search"]:focus {
  color: var(--main-blue);
}

/* Search Box */
.search__button {
  background-color: var(--white);
  border: 1px solid #333;
  color: #333;

}

/* Viewers Section */
#viewers-section {
  border-radius: 8px;
  background-color: rgb(224, 224, 224);
}

.section-tittle {
  margin: 24px;
}

.section-tittle h3 {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.top-viewers {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 12px;
  margin: 10vh;
}

.user__container {
  display: flex;
  border-radius: 8px;
  background-color: #F3F1FF;
  padding: 4vh 24vh;
  align-items: center;
  justify-content: center;
  margin-left: 6vh;
  margin-bottom: 10vh;
}

.user__container p {
  margin: 0;
}

.user__picture img {
  width: 14vh;
  height: 14vh;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2vh;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.back-to-top a {
  text-decoration: none;
  color: #333;
  padding: 10vh;
}

/* Audio Test */
article {
  display: flex;
  justify-content: center;
}

.bark__audio {
  background-color: var(--main-blue);
  border-radius: 6px;
}

