/* Macro Changes */
:root {
  --main-yellow: rgb(255, 230, 0);
  --nav-orange: rgb(255, 153, 0);
}

* {
  margin: 0;
  padding: 0;
  font-family: Cambria;
}

body {
  background-color: var(--main-yellow);
}

#home {
  color: var(--main-yellow);
  text-decoration: var(--main-yellow) underline;
}

#about {
  color: var(--main-yellow);
  text-decoration: var(--main-yellow) underline;
}

/* Header Settings */
header h1 {
  display: flex;
  justify-content: center;
}

/* Nav Settings */
nav {
  height: 98px;
  padding: 0 auto;
  background-color: var(--nav-orange);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

img[src*="assets/javascript-39395.png"] {
  width: 120px;
  transition: all 200ms;
}

img[src*="assets/javascript-39395.png"]:hover {
  scale: 1.1;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo p {
  font-weight: bold;
  font-family: 'Silkscreen';
  color: aliceblue;
  font-size: 20px;
}

.nav__list {
  display: flex;
  gap: 12px;
  font-size: 18px;
}

.nav__pages ul {
  display: flex;
}

.nav__pages li {
  list-style: none;
}

.nav__pages a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav__pages a:hover {
  text-decoration: underline;
}

.nav__search {
  display: flex;
  gap: 14px;
  height: 24px;
}

.search__button {
  color: #333;
  height: 24px;
  width: 60px;
  background-color: var(--main-yellow);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 80ms;
  font-size: 14px;
}

.search__button:hover {
  background-color: aliceblue;
  color: #333;
}

input[type="search"] {
  padding: 0 14px;
  transition: scale 20ms ease-in;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

input[type*='search']:focus {
  color: orangered;
  border: 3px solid var(--nav-orange);
  scale: 1.1;
}

/* Main Content Settings */

header h1 {
  margin-top: 2.6rem;
  font-family: 'Silkscreen';
}

/* Product Card */
#info-boxes {
  display: flex;
  margin-top: 2.6rem;
  justify-content: center;
}

.info__box {
  border: 1px solid #333;
  border-radius: 4px;
  transition: box-shadow, scale 20ms ease-in;
}

.info__box:hover {
  scale: 1.02;
  box-shadow: 4px 4px 0px hsl(0, 0%, 36%);
}

.info__box h2 {
  text-align: center;
  border-bottom: 1px solid #333;
  background-image: url('https://img.freepik.com/free-photo/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper_1258-82939.jpg');
}

.info__box p {
  width: 200px;
  text-align: center;
  font-family: arial;
  font-size: 14px;
  margin: 10px;
}

.content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content__box button {
  color: #333;
  padding: 6px 14px;
  background-color: var(--nav-orange);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 80ms;
  font-size: 14px;
  margin-bottom: 10px;
}
